* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #1656A4;
  --primarywhite: rgba(255, 255, 255, 0.8);
  --secondarywhite: rgba(255, 255, 255, 0.24);
  --textwhite: rgba(255, 255, 255, 0.6);
  --STAR: 0;
  --HEIG: 0;
  --CURV: 0;
  --AERO: 0;
  --slnt: 0;
  --SHAP: 0;
	--glacier-font-size: 60px;
  --shard-font-size: 100px;
  --altitude-font-size: 80px;
  --sleet-font-size: 70px;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Shard";
  src: url("fonts/BRR-Shard.ttf");
}

@font-face {
  font-family: "Sleet";
  src: url("fonts/BRR-Sleet.ttf");
}

@font-face {
  font-family: "Glacier";
  src: url("fonts/BRR-Glacier.ttf");
}

@font-face {
  font-family: "Altitude";
  src: url("fonts/BRR-Altitude.ttf");
}

@keyframes Glacier-animation {
  0% {
    font-variation-settings: "STAR" 0, "HEIG" 0;
  }
  20% {
    font-variation-settings: "STAR" 0, "HEIG" 0;
  }
  80% {
    font-variation-settings: "STAR" 1000, "HEIG" 1000;
  }
  100% {
    font-variation-settings: "STAR" 1000, "HEIG" 1000;
  }
}

@keyframes Shard-animation {
  0% {
    font-variation-settings: "CURV" 0;
  }
  20% {
    font-variation-settings: "CURV" 0;
  }
  80% {
    font-variation-settings: "CURV" 1000;
  }
  100% {
    font-variation-settings: "CURV" 1000;
  }
}

@keyframes Altitude-animation {
  0% {
    font-variation-settings: "AERO" -500;
  }
  100% {
    font-variation-settings: "AERO" 500;
  }
}

@keyframes Sleet-animation {
  0% {
    font-variation-settings: "slnt" 0, "SHAP" 0;
  }
  20% {
    font-variation-settings: "slnt" 0, "SHAP" 0;
  }
  80% {
    font-variation-settings: "slnt" 1000, "SHAP" 1000;
  }
  100% {
    font-variation-settings: "slnt" 1000, "SHAP" 1000;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes glow {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: 'Sleet', Arial, sans-serif;
  font-variation-settings: "SHAP" 0;
  background-color: var(--blue);
  text-transform: uppercase;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  background-color: transparent;
  padding: 20px;
  gap: 20px;
  width: 100%;
  z-index: 100;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbutton {
  color: var(--blue);
  text-decoration: none;
  padding: 8px 15px;
  text-align: center;
  font-size: 15px;
  display: block;
  float: right;
  background-image: url('images/iceberg button.svg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  transition: 0.3s;
  font-family: "Sleet";
  text-transform: uppercase;
  line-height: 1.4em;
}

.navbutton:hover {
  transition: 0.3s;
  opacity: 1;
}

.navbuttonactive {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--blue);
  padding: 8px 15px;
  text-align: center;
  font-size: 15px;
  display: block;
  background-image: url('images/iceberg button.svg');
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  line-height: 1.4em;
}

.typefacesnavcontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#typefacesnav {
  position: fixed;
  margin: 20px;
  top: 0;
  left: 0;
  width: 580px;
  transform: translateX(-110%);
  transition: transform 0.3s ease;
  z-index: 102;
  height: 95%;
  background-image: url('images/iceberg nav.svg');
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 25px;
}

#typefacesnav.visible {
  transform: translateX(0);
}

.typefacesnavtypefaces {
  overflow-y: auto;
  max-height: calc(100% - 50px);
  width: 83%;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.38);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 100;
  overflow-y: auto;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#overlay.visible {
  opacity: 1;
  pointer-events: auto;
  /* ChatGPT debugged this */
}

.typefacesbutton {
  display: flex;
  justify-content: space-between;
  align-items: end;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 50px;
  padding: 20px 20px;
  border-bottom: 0.5px solid var(--primarywhite);
  color: var(--primarywhite);
}

.typefacesbutton:hover {
  background-color: var(--primarywhite);
  color: var(--blue);
}

/* ChatGPT helped debug this */
.typeface-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


.typeface-title:hover {
  text-shadow: 1px 1px 8px #1656a497;
}

/* ChatGPT helped debug this */
.font-masters {
  font-size: 18px;
  color: var(--blue);
  opacity: 0;
  margin-left: auto;
}

.typefacesbutton:hover .font-masters {
  opacity: 1;
}

.typefacesbutton:hover .font-masters:hover {
  text-shadow: 1px 1px 5px #1656a497;
}

button {
  border: none;
  text-decoration: none;
  background-color: transparent;
}

.canvas-interactive-wrapper {
  position: fixed;
  height: 100%;
  text-align: center;
  pointer-events: none;
}

.canvas-interactive-wrapper canvas {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

.landingbg {
  z-index: 1;
  position: fixed;
  width: 100%;
  margin-top: 55px;
  animation: fadeIn 2s ease-in;
  justify-self: center;
  transition: filter 0.2s ease;
  pointer-events: none;
}

@keyframes fadeIn {
  0% {
    filter: blur(5px);
  }

  100% {
    filter: blur(0px);
  }
}

@keyframes fadeOut {
  0% {
    filter: blur(0px);
  }

  80% {
    filter: blur(0px);
  }

  100% {
    filter: blur(50px);
  }
}

.landingtext {
  z-index: 60;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primarywhite);
  text-align: center;
  font-size: 15px;
  filter: blur(50px);
  animation: fadeOut 3s ease-in;
}

.glacier-secret {
  opacity: 0;
  font-size: 15px;
  z-index: 1000;
  color: #bb7724;
}

.glacier-secret-container {
  z-index: 1000;
  color: var(--primarywhite);
  text-align: left;
  font-size: 15px;
  width: 120px;
  animation: fadeIn 2s ease-in;
  color: var(--secondarywhite);
  animation: glow 0.5s ease-in-out infinite;
  animation-delay: 2s;
  cursor: pointer;
}

.glacier-secret-container:hover .glacier-secret {
  opacity: 1;
}

.typefacedetails {
  position: absolute;
  z-index: 70;
  padding: 220px 200px;
  margin: 20px;
  display: none;
  width: calc(100% - 40px);
  height: 100%;
}

.glaciercontent {
  color: var(--primarywhite);
  width: 100%;
  text-align: left;
  font-family: 'Glacier', Arial, sans-serif;
  transition: font-variation-settings 0.3s ease;
  animation-name: Glacier-animation;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  line-height: 1.5em;
}

.shardcontent {
  color: var(--primarywhite);
  width: 100%;
  text-align: left;
  font-family: 'Shard', Arial, sans-serif;
  transition: font-variation-settings 0.3s ease;
  animation-name: Shard-animation;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  line-height: 1.5em;
}

.altitudecontent {
  color: var(--primarywhite);
  width: 100%;
  text-align: left;
  font-family: 'Altitude', Arial, sans-serif;
  text-transform: uppercase;
  transition: font-variation-settings 0.3s ease;
  animation-name: Altitude-animation;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  line-height: 1.5em;
}

.sleetcontent {
  color: var(--primarywhite);
  width: 100%;
  text-align: left;
  font-family: 'Sleet', Arial, sans-serif;
  text-transform: uppercase;
  transition: font-variation-settings 0.3s ease;
  animation-name: Sleet-animation;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  line-height: 1.5em;
}

h2 {
  font-weight: normal;
  font-size: max(50px, 15vw);
  text-align: center;
}

h3 {
  font-weight: normal;
  text-align: center;
  font-size: max(30px, 5vw);
}

p {
  font-size: 14px;
  color: var(--textwhite);
  font-family: Arial;
  text-transform: none;
}

.caption {
  text-align: center;
  font-size: 15px;
  color: var(--secondarywhite);
  font-weight: bold;
}

.alphabetgrid {
  display: grid;
  grid-template-columns: repeat(9, 1fr); 
  grid-template-rows: repeat(3, 1fr);  
  z-index: 90;
  row-gap: 100px;
  font-size: max(50px, 7vw);
}

.alphabetgrid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  text-align: center;
}

.Glaciertypetester {
  display: block;
  font-family: 'Glacier';
  font-variation-settings: "STAR" var(--STAR), "HEIG" var(--HEIG);
  font-size: var(--glacier-font-size);
  color: var(--primarywhite);
  width: 100%;
  min-height: 400px;
  height: 100%;
  padding: 20px; 
  background-color: var(--secondarywhite);
  transition: none;
  animation-name: none;
  line-height: 1.5em;
  margin-top: 30px;
}

.Shardtypetester {
  display: block;
  font-family: 'Shard';
  font-variation-settings: 'CURV' var(--CURV);
  font-size: var(--shard-font-size);
  color: var(--primarywhite);
  width: 100%;
  min-height: 400px;
  height: 100%;
  padding: 20px; 
  background-color: var(--secondarywhite);
  transition: none;
  animation-name: none;
  line-height: 1.5em;
  margin-top: 30px;
}

.Altitudetypetester {
  display: block;
  font-family: 'Altitude';
  font-variation-settings: 'AERO' var(--AERO);
  font-size: var(--altitude-font-size);
  color: var(--primarywhite);
  width: 100%;
  min-height: 400px;
  height: 100%;
  padding: 20px; 
  background-color: var(--secondarywhite);
  transition: none;
  animation-name: none;
  line-height: 1.5em;
  margin-top: 30px;
}

.Sleettypetester {
  display: block;
  font-family: 'Sleet';
  font-variation-settings: 'slnt' var(--slnt), 'SHAP' var(--SHAP);
  font-size: var(--sleet-font-size);
  color: var(--primarywhite);
  width: 100%;
  min-height: 400px;
  height: 100%;
  padding: 20px; 
  background-color: var(--secondarywhite);
  transition: none;
  animation-name: none;
  line-height: 1.5em;
  margin-top: 30px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  outline: none;
  background-color: var(--secondarywhite);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 20px;
  background: var(--primarywhite);
}

input[type="range"]::-moz-range-thumb {
  width: 5px;
  height: 20px;
  background: var(--primarywhite);
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 20px;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background-color: var(--primarywhite);
}

.about-us {
  color: var(--primarywhite);
  display: flex;
  justify-content: center;
  margin: 200px;
  line-height: 1.5em;
}



@media (max-width: 600px) {
  #typefacesnav {
    position: fixed;
    margin: 20px;
    top: 0;
    left: 0;
    width: 580px;
    transform: translateX(-110%);
    transition: transform 0.3s ease;
    z-index: 102;
    height: 95%;
    background-image: none;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 25px;
  }
  
  .about-us {
    color: var(--primarywhite);
    display: flex;
    justify-content: center;
    margin: 50px;
    line-height: 1.5em;
  }

  .typefacedetails {
    position: absolute;
    z-index: 70;
    padding: 220px 50px;
    margin: 20px;
    display: none;
    width: calc(100% - 40px);
    height: 100%;
  }

  .alphabetgrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: repeat(5, 1fr);  
    z-index: 90;
    row-gap: 100px;
    font-size: 70px;
  }

}

@media (min-width: 601px) and (max-width: 1200px) {
  .typefacedetails {
    position: absolute;
    z-index: 70;
    padding: 220px 100px;
    margin: 20px;
    display: none;
    width: calc(100% - 40px);
    height: 100%;
  }
  
  .alphabetgrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: repeat(5, 1fr);  
    z-index: 90;
    row-gap: 100px;
    font-size: max(90px, 8vw);
  }

}

.desktop-notice {
  display: none;
  
}

.mobile-overlay {
  display: none;
  visibility: hidden;
  position: fixed;
  padding: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: var(--primarywhite);
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: "Sleet";
  text-transform: uppercase;
}

@media (max-width: 599px) {
  .mobile-overlay {
      display: flex;
      visibility: visible;
  }
}